.total-container {
    padding: 10px 0px;
    display: block;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.first-left {
    display: flex;
    align-items: stretch;
    overflow: hidden;
    border-top: 1px solid #eaeaea;
    height: 100%;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
}

.back-image {
    background-image: url('https://rukminim1.flixcart.com/fk-p-flap/278/278/image/b84f1c22cce1a6a3.jpg?q=90');
    background-position: 0px bottom;
    width: 230px;
    background-repeat: no-repeat;
}

.firstleft-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 28px 10px 124px;
    align-items: stretch;
}

.leftside-text {
    font-size: 30px;
    line-height: 1.38;
    font-weight: 400;
    display: block;
    justify-content: flex-end;
}

.link-text {
   margin-top: 24px;   
}

.left-btnlink {
    display: inline-block;
    border-radius: 2px;
    background: #2874f0;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.02);
    border: none;
    padding: 10px 20px;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

.container-right {
    width: 1274px;
}

.right-total {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
}

.total-right {
    overflow-x: hidden;
    padding-bottom: 64px;
    margin-bottom: -64px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex: none;
}

.rightside-products {
    width: 1866px;
    overflow: hidden;
}

.rightside-items {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.rightpart-container {
    width: 232px;
    display: flex;
    flex-direction: row;
}

.left-itemlink {
    padding: 25px 15px;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-height: 366px;
    text-align: center;
}

.rightimg-container {
    height: 220px;
}

.rightimg-part {
    height: 200px;
    width: 200px;
    position: relative;
    margin: 0 auto;
}

.img-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.img-container:hover {
    transform: scale(1.1);
}

.imgitem-name {
    font-weight: 600;
    margin-top: 15px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.imgitem-price {
    white-space: nowrap;
    font-size: 16px;
    text-overflow: ellipsis;
    color: #388e3c;
    padding: 8px;
}

.imgitem-details {
    padding-top: 4px;
    opacity: 0.6;
    white-space: nowrap;
    text-overflow: ellipsis;
}

a {
    text-decoration: none;
    color: inherit;
}

.btnicon {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    justify-content: center;
    overflow: hidden;
}

.ui-icon {
    display: flex;
    align-self: center;
    padding: 40px 15px;
    box-shadow: 1px 2px 10px -1px rgba(0,0,0,.03);
    background-color: hsla(0,0%,100%,.98);
    border-radius: 0 4px 4px 0;
    box-shadow: 8px 4px 10px 0px rgba(0,0,0,.3);
    pointer-events: auto;
}

.right-partbtn {
    right: 0;
}

.left-partbtn {
    left: 0;
}

.hidden {
    display: none;
}
